# Data frame for experience Vs Salary using pandas

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\91943\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\users\91943\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\91943\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\91943\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\91943\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame({
    "Experience":[7,8,9,4,2,11,15],
    "Salary":[12000,14000,16000,6000,2000,20000,28000]})

In [4]:
df

   Experience  Salary
0           7   12000
1           8   14000
2           9   16000
3           4    6000
4           2    2000
5          11   20000
6          15   28000

# Problem Statement - 
Create a Machine Learning model to predict salary of the given experience

In [5]:
x=df[["Experience"]]  #independent variable
y=df.Salary     #dependent variable

In [6]:
x

   Experience
0           7
1           8
2           9
3           4
4           2
5          11
6          15

In [7]:
y

0    12000
1    14000
2    16000
3     6000
4     2000
5    20000
6    28000
Name: Salary, dtype: int64

In [8]:
pip install sklearn

Requirement already satisfied: sklearn in c:\users\91943\anaconda3\lib\site-packages (0.0.post1)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
model=LinearRegression()

In [11]:
model.fit(x,y)

LinearRegression()

In [12]:
import warnings
warnings.filterwarnings("ignore")

In [13]:
m=model.coef_

In [14]:
c=model.intercept_

In [18]:
a=int(input("enter the experience : "))
y2=model.predict([[a]])
print("Salary of given experience is : ",y2[0])

enter the experience : 3
Salary of given experience is :  3999.9999999999964