# Data Frame for Price prediction of mobile using pandas

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\91943\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\users\91943\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\91943\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\91943\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\91943\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [42]:
df=pd.DataFrame({
    "RAM":[4,6,8,4,8,6,8,2,4,8,6,4,6,8,4],
    "Battery(in MHz)":[4000,4500,6000,5000,4200,5600,5000,4000,4500,6000,5000,4200,5600,5000,6000],
    "Brand":[1,2,3,2,3,1,2,3,1,2,1,3,2,3,3],
    "Front Camera":[32,16,32,16,28,16,32,32,16,32,16,28,16,32,16],
    "Rear Camera":[64,64,32,108,32,108,56,64,64,32,108,32,108,56,64],
    "Price":[12000,14000,16000,18000,20000,22000,28000,25000,23000,17000,15000,26000,20000,18000,18000]
})

In [43]:
df

    RAM  Battery(in MHz)  Brand  Front Camera  Rear Camera  Price
0     4             4000      1            32           64  12000
1     6             4500      2            16           64  14000
2     8             6000      3            32           32  16000
3     4             5000      2            16          108  18000
4     8             4200      3            28           32  20000
5     6             5600      1            16          108  22000
6     8             5000      2            32           56  28000
7     2             4000      3            32           64  25000
8     4             4500      1            16           64  23000
9     8             6000      2            32           32  17000
10    6             5000      1            16          108  15000
11    4             4200      3            28           32  26000
12    6             5600      2            16          108  20000
13    8             5000      3            32           56  18000
14    4             6000      3            16           64  18000

# Problem Statement -
Create a Machine Learning model to predict price of the given phone

In [44]:
x=df.drop("Price",axis=1)
y=df.Price

In [45]:
x

    RAM  Battery(in MHz)  Brand  Front Camera  Rear Camera
0     4             4000      1            32           64
1     6             4500      2            16           64
2     8             6000      3            32           32
3     4             5000      2            16          108
4     8             4200      3            28           32
5     6             5600      1            16          108
6     8             5000      2            32           56
7     2             4000      3            32           64
8     4             4500      1            16           64
9     8             6000      2            32           32
10    6             5000      1            16          108
11    4             4200      3            28           32
12    6             5600      2            16          108
13    8             5000      3            32           56
14    4             6000      3            16           64

In [46]:
y

0     12000
1     14000
2     16000
3     18000
4     20000
5     22000
6     28000
7     25000
8     23000
9     17000
10    15000
11    26000
12    20000
13    18000
14    18000
Name: Price, dtype: int64

In [47]:
pip install sklearn

Requirement already satisfied: sklearn in c:\users\91943\anaconda3\lib\site-packages (0.0.post1)
Note: you may need to restart the kernel to use updated packages.

In [48]:
from sklearn.linear_model import LinearRegression

In [49]:
model=LinearRegression()

In [50]:
model.fit(x,y)

LinearRegression()

In [52]:
model.predict([[8,5000,1,16,64]])

C:\Users\91943\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([16763.5648489])

In [53]:
x

    RAM  Battery(in MHz)  Brand  Front Camera  Rear Camera
0     4             4000      1            32           64
1     6             4500      2            16           64
2     8             6000      3            32           32
3     4             5000      2            16          108
4     8             4200      3            28           32
5     6             5600      1            16          108
6     8             5000      2            32           56
7     2             4000      3            32           64
8     4             4500      1            16           64
9     8             6000      2            32           32
10    6             5000      1            16          108
11    4             4200      3            28           32
12    6             5600      2            16          108
13    8             5000      3            32           56
14    4             6000      3            16           64

In [54]:
model.predict(x)

array([19653.12197522, 19060.82288368, 19254.46921836, 19794.46289467,
       20403.55380589, 17419.72711888, 18988.2840333 , 22906.50027832,
       18283.67426644, 17910.96024492, 17884.59356502, 21536.2745183 ,
       18763.23609232, 20331.79300674, 19808.52609795])

In [55]:
y

0     12000
1     14000
2     16000
3     18000
4     20000
5     22000
6     28000
7     25000
8     23000
9     17000
10    15000
11    26000
12    20000
13    18000
14    18000
Name: Price, dtype: int64

In [56]:
model.coef_

array([-2.83180178e+02, -7.74777410e-01,  1.34350897e+03,  6.13786877e+01,
        1.26060991e+01])

In [57]:
model.intercept_

19770.53500615323

# Check the score of the model

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.4,random_state=5)

In [60]:
len(train_x),len(train_y),len(test_x),len(test_y)

(9, 9, 6, 6)

In [71]:
from sklearn.linear_model import LogisticRegression

In [72]:
model1=LogisticRegression()

In [73]:
model.fit(train_x,train_y)

C:\Users\91943\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [74]:
model.predict(test_x)

array([20000, 20000, 12000, 17000, 18000, 23000], dtype=int64)

In [75]:
test_y

5     22000
1     14000
7     25000
2     16000
10    15000
14    18000
Name: Price, dtype: int64

In [76]:
model.score(test_x,test_y)

0.0

In [77]:
model.predict(test_x)==test_y

5     False
1     False
7     False
2     False
10    False
14    False
Name: Price, dtype: bool